html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

:root {
  --color: rgb(50, 50, 50);
  --subtitle: rgb(150, 150, 150);
  --background-color:  rgba(231, 239, 243, 0.0);
}

* {
  box-sizing: border-box;
  color: var(--color);
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: inline !important;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 35px;
}

h3{
  font-size: 25px;
}

h4{
  font-size: 22px;
  color: var(--subtitle);
  font-weight: 400;
}

p{
  font-size: 19px;
}

.banner{
  padding: 100px 20% 3% 20%;
  min-height: 30vh;
}

.layer {
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 120vh;
	position: fixed;
  z-index: -1;
}

.button{
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border-width: 2.5px;
  border-style: solid;
  padding: 10px;
  color: var(--color);
}

.button:hover{
  transition: background-color 0.6s, color 0.9s;
  background-color: rgba(0, 200, 200, 0.2);
  color: rgba(0, 100, 100, 0.8);
  text-decoration: none;
}

.externallinkimage{
  margin-left: 6px;
  margin-top: -6px;
  opacity: 40%;
}

.wlayer1{
    margin-left: 80px;
}
.wlayer2{
    margin-left: 75px;
}
.wlayer3{
    margin-left: 70px;
}

.screen{
  mix-blend-mode: difference;
  opacity: 0.65;
  display: block;
}

.frostedCard{
  border-radius: 25px;
  z-index: 1;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  padding: 30px;
}

.defaultImage{
  height: auto;
}

@media only screen and (max-width: 768px) {

  .layer {
    background-position: top center;
    margin-top: 0vh;
    height: 100vh;
    width: 200vw;
  }

  .screen{
    opacity: 0.4;
  }

  .wlayer1{
    margin-left: -81vw;
  }
  .wlayer2{
    margin-left: -80vw;
  }
  .wlayer3{
    margin-left: -79vw;
  }

  h1{
    font-size: 30px;
  }
  
  h2{
    font-size: 25px;
  }
  
  h3{
    font-size: 20px;
  }
  
  h4{
    font-size: 16px;
  }
  
  p{
    font-size: 14px;
  }

  body{
    font-size: 14px;
  }

  .externallinkimage{
    width: 12px;
    height: 12px;
    margin-top: -5px;
  }

  .banner{
    padding: 100px 5% 3% 5%;
    min-height: 30vh;
  }

  #education .frostedCard{
    text-align: center;
  }

  #experience .frostedCard{
    text-align: center;
  }

  #experience ul{
    text-align : left;
  }
}